<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:b="http://www.springframework.org/schema/batch"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       	http://www.springframework.org/schema/beans/spring-beans.xsd
      	http://www.springframework.org/schema/batch
      	http://www.springframework.org/schema/batch/spring-batch.xsd
       	http://www.springframework.org/schema/aop
 		http://www.springframework.org/schema/aop/spring-aop.xsd">
 		
	<!-- <import resource="classpath:spring-dao-context.xml" /> -->
	
	<import resource="classpath:spring-label-name-context.xml" />
	<import resource="classpath:spring-batch-datasource.xml" />
	<import resource="classpath:spring-job-repo.xml" />
	<import resource="classpath:spring-key-service-factory.xml" />
	<import resource="classpath:spring-release-name-context.xml" />
	<import resource="classpath:spring-track-name-context.xml" />
	<import resource="classpath:spring-work-name-context.xml" />
	
	<bean lazy-init="true" id="propertyPlaceholderConfigurer"  
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
		  <property name="locations">  
		    <list>  
		      <value>classpath:configuration.properties</value>  
		    </list>  
		  </property>  
	</bean> 
	
	<bean lazy-init="true" id="defaultVersion" class="org.apache.lucene.util.Version" factory-method="valueOf">
		<constructor-arg value="LUCENE_31"/>
	</bean>
	
	<bean lazy-init="true" id="defaultOpenMode" class="org.apache.lucene.index.IndexWriterConfig.OpenMode" factory-method="valueOf">
		<constructor-arg value="CREATE_OR_APPEND"/>
	</bean>
	
	<bean lazy-init="true" id="standardAnalyser" class="org.apache.lucene.analysis.standard.StandardAnalyzer">
		<constructor-arg type="org.apache.lucene.util.Version" ref="defaultVersion"/>
	</bean>
	
	<bean lazy-init="true" id="indexFilePath" class="java.io.File">
		<constructor-arg value="F:/IndexPath/ArtistName_Index"></constructor-arg>
	</bean>
	
	<bean lazy-init="true" id="indexFsDirectory" class="org.apache.lucene.store.SimpleFSDirectory">
		<constructor-arg ref="indexFilePath"></constructor-arg>
	</bean>
	
	<bean lazy-init="true" id="indexWriterConfig" class="org.apache.lucene.index.IndexWriterConfig">
		<constructor-arg ref="defaultVersion"></constructor-arg>
		<constructor-arg ref="standardAnalyser"></constructor-arg>
	</bean>
	
	<bean lazy-init="true" id="indexWriter" class="org.apache.lucene.index.IndexWriter"> 
		<constructor-arg ref="indexFsDirectory"></constructor-arg>
		<constructor-arg ref="indexWriterConfig"></constructor-arg>
	</bean>	
	
	<!-- FLAT FILE SECTION_BEGIN -->
	<bean lazy-init="true" id="artistNameMapping" class="org.nanotek.beans.mapping.ArtistNameMapping">
		<property name="type" value="org.nanotek.beans.ArtistName"></property>
	</bean>
	
	<bean lazy-init="true" id="artistNameToBean" class="org.nanotek.beans.mapping.ArtistNameCsvToBean"></bean>
	

	<bean lazy-init="true" id="artistNameFileReader" class="java.io.FileReader"> 
		<constructor-arg  type="java.lang.String" value="${music.brainz.artist.name.file}"></constructor-arg>
	</bean>
	
	<bean lazy-init="true" id="artistNameCsvReader" class="org.nanotek.util.CsvTabReader">
		 <constructor-arg ref="artistNameFileReader"></constructor-arg>
	</bean>

	<bean lazy-init="true" id="artistNameReader" class="org.nanotek.musicbrainz.job.readers.ArtistNameReader">
		<property name="itemMapping" ref="artistNameMapping"></property>
		<property name="fileStr" value="${music.brainz.artist.name.file}"></property>
		<property name="csvMap" ref="artistNameToBean"></property>
		<property name="reader" ref="artistNameCsvReader"></property>
		<property name="keyServiceFactory" ref="keyServiceFactory"></property>
	</bean>
	
	<bean lazy-init="true" id="artistNameWriter" class="org.nanotek.lucene.job.writers.ArtistNameIndexWriter">
		<property name="indexWriter" ref="indexWriter"></property>
	</bean>
	
	<bean lazy-init="true" id="stepListener" class="org.nanotek.lucene.job.listeners.ArtistNameStepListener"> 
		<property name="indexWriter" ref="indexWriter"></property>
	</bean>
	
	<bean lazy-init="true" id="artistNameChunkLister" class="org.nanotek.lucene.job.listeners.ArtistNameChunkListener">
		<property name="indexWriter" ref="indexWriter"></property>
	</bean>
	
	<bean lazy-init="true" id="artistNameIndexProcessor" class="org.nanotek.musicbrainz.job.processor.ArtistNameIndexProcessor">
		<property name="indexWriter" ref="indexWriter"></property>
	</bean>
	
	<b:job id="artistNameIndexJob" job-repository="jobRepository" restartable="false">
	    <b:step id="artistNameIndexLoad">
	    	<b:tasklet>
	    		<b:chunk reader="artistNameReader" commit-interval="10000" writer="artistNameWriter"></b:chunk>
	    		<b:listeners>
	    			<b:listener ref="artistNameChunkLister"/>
	    		</b:listeners>
	    	</b:tasklet>
	    	<b:listeners>
            		<b:listener ref="stepListener"/>
       		</b:listeners>
	    </b:step>
	</b:job>

</beans>